@import url("https://use.typekit.net/gez6hqs.css");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
:root {
  --BLACK: #171718;
  --WHITE: #FFFFFF;
  --GREY: #A7A7B4;
  --YELLOW: #FFB800;
  --DARKBLUE: #1C3488;
  --CREAM: #FFF1DD;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--CREAM);
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.TopBarBtn{
  position: relative;
  padding: 2em 1em 1em 1em;
  transition: all ease 0.2s;
}

.TopBarBtn:hover{
  background: linear-gradient(var(--DARKBLUE), var(--DARKBLUE));
}
.TopBarBtn:hover div{
  color: var(--WHITE);
}

.TopBarMain{
  padding-top: 1em;
}

.linkBox{
  width: 100%;
  height: 100%;
}

.wrap{
  width: 100%;
  height: 100vh;
  position: relative;
}

.projText > div{
  margin-bottom: 0.6em;
}

.gitHub, .figma, .linkLogo, .link{
  background-image: url(./github-mark-white.svg);
  width: 1.6em;
  height: 1.6em;
  background-size: cover;
  display: inline-block;
  margin: 0.4em;
  border-radius: 50%;
}

.link{
  background-image: url(./link.svg);
}

.figma{
  background-image: url(./figma-icon.svg);
}

.linkLogo{
  background-image: url(./GitHub_Logo_White.png);
  width: 3em;
  background-size: contain;
  background-position: center;
  margin-left: 0;
  border-radius: 0;
  background-repeat: no-repeat;
}
.fig{
  background-image: url(./Figma.svg);
}
.linkText{
  color: var(--WHITE);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 1.6em;
  margin-left: 0;
  border-radius: 0;
  transform: translateY(-50%);
}